
<!--The content below is only a placeholder and can be replaced.-->
<div  ng-app = "myApp" style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>

<app-register></app-register>

<nav class='navbar navbar-expand navbar-light bg-light'>
  <ul class='nav nav-pills'>
    <li><a class='nav-link' [routerLink]="['/']">{{title}}</a></li>
    <li><a class='nav-link' [routerLink]="['/sources']">List Sources</a></li>
  </ul>
</nav>

<div class='container'>
  <router-outlet></router-outlet>
</div>

