<H3>The One stop for all your reading needs.</H3>
<a (click)='reset()' class='floatRight'>Reset sources</a>
<br />
<br />

<input type="checkbox" (change)='hideImages = !hideImages'>
<label>Hide Images</label>
<input type="checkbox" (change)='hideDescription = !hideDescription'>
<label>Show only headlines</label>

<div *ngIf='displayedSources && displayedSources.length'>
  <div *ngFor='let source of displayedSources'>
    <div *ngIf='source.news && source.news.length' class='table-responsive'>
        <table class='table'>
          <thead>
            <tr>
              <th>
                <img [src]='source.imgUrl' [style.width.px]='imgWidth' [style.height.px]='imgHeight'>
              </th>
              <th>
                {{ source.name }} 
                <a (click)='unsubscribe(source.name)'>Unsubscribe</a>
              </th>
            </tr>
          </thead>
      
          <tbody>
            <tr *ngFor='let newsArticle of source.news; let i = index'>
              <td *ngIf='!hideImages'><img *ngIf='newsArticle.imgUrl' src='{{ newsArticle.imgUrl }}' class='articleImg'></td>
              <td *ngIf='newsArticle.url'><a href='{{ newsArticle.url }}'>{{ newsArticle.title }}</a></td>
              <td *ngIf='!newsArticle.url'>{{ newsArticle.title }}</td>
              <td *ngIf='! hideDescription'>{{ newsArticle.description }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>