a {
    text-decoration: underline !important;
    color: blue !important;
}

a:hover {
    color: purple !important;
}

.floatRight {
    float: right;
}

.articleImg {
    width: 4rem;
    height: 4rem;
}