<H3>The One stop for all your reading needs.</H3>
<a (click)='reset()' class='floatRight'>Reset sources</a>
<br />
<br />

<div *ngIf='displayedSources && displayedSources.length'>
  <div *ngFor='let source of displayedSources'>
    <div *ngIf='source.news && source.news.length' class='table-responsive'>
        <table class='table'>
          <thead>
            <tr>
              <th>
                <img [src]='source.imgUrl' [style.width.px]='imgWidth' [style.height.px]='imgHeight'>
              </th>
              <th>
                {{ source.name }} 
                <a (click)='unsubscribe(source.name)'>Unsubscribe</a>
                
              </th>
            </tr>
          </thead>
      
          <tbody>
            <tr *ngFor='let newsRow of source.news; let i = index'>
              <td>{{ i + 1 }}</td>
              <td>{{ newsRow }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>