<div class='card'>
  <div class='card-header'>
    <span>{{ pageTitle }} </span>
  </div>
</div>

  <br />

<div class='table-responsive'>
  <table class='table' *ngIf='source'>
    <tr>
      <th>Name</th>
      <td>{{ source.name }}</td>
    </tr>
    <tr>
      <th>Url</th>
      <td>{{ source.url }}</td>
    </tr>
    <tr>
      <th>Price</th>
      <td>{{ source.price | currency }}</td>
    </tr>
  </table>
</div>

<div>
  <button class='btn btn-primary'
    (click)='onBack()'>
    <i class='fa fa-chevron-left'></i> Back
  </button>
</div>